$violet: #a5f;
$backgroundLight: #222222;
$backgroundDark: #161616;
$backgroundLighter: #2c2c2c;

$lightText: #e7e7e7;
$mediumText: #aaaaaa;
$violetText: #b061ff;
$blue: #2166dd;
$errorRed: #fe9090;

$textShadowSmall: 1px 1px;
$textShadowSmaller: 0.75px 0.75px;
$textShadow: 4px 4px 1.75px;

$roundedMd: 1rem;
$roundedSm: 0.5rem;

$boxShadowStandard: 0 0 15px 0 rgba($violet, 0.3);
$boxShadowSMall: 0 0 5px 0 $backgroundLighter;
