$violet: #a5f;
$backgroundLight: #222222;
$backgroundDark: #161616;

$lightText: #e7e7e7;
$mediumText: #aaaaaa;
$violetText: #b061ff;

$textShadowSmall: 1px 1px;
$textShadowSmaller: 0.75px 0.75px;
$textShadow: 3px 3px 1.5px;

$roundedMd: 1rem;
