@import "./config";
@import "./mixins";
.main {
  background-color: $backgroundDark;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  &Wrapper {
    display: flex;
  }
  .img {
    opacity: 0;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 40% 100%, 0 50%);
    cursor: pointer;

    &Wrapper {
      width: 40%;
      position: relative;
      max-height: 900px;
    }

    @media (min-width: 1200px) {
      transform: translateX(125%);
      transition: 0.25s;
      object-fit: cover;
    }
  }

  .left {
    padding: 5rem;
    @media (max-width: 1100px) {
      padding: 4rem;
    }
    @media (max-width: 900px) {
      padding: 3rem;
    }
    @media (max-width: 700px) {
      padding: 2rem;
    }

    transition: 1s;
    transform: translateX(125%);
    opacity: 0;
    width: 60%;
  }
  .animationSlideFromLeft {
    transform: translateX(0);
    opacity: 1;
  }
  .heading {
    @include text($violetText, black, $textShadow);

    font-size: 4.5rem;
    @media (max-width: 1600px) {
      font-size: 3.5rem;
    }
    @media (max-width: 1200px) {
      font-size: 3rem;
    }
    @media (max-width: 1000px) {
      font-size: 2.5rem;
    }
    @media (max-width: 880px) {
      font-size: 2rem;
    }
    @media (max-width: 768px) {
      font-size: 1.5rem;
    }

    &Span {
      text-shadow: 3px 3px 1.5px black;
      position: relative;
      color: transparent;
      white-space: nowrap;
      &After {
        text-shadow: none;
        position: absolute;
        background: linear-gradient(to top right, #9500ff 30%, #008cff 75%);
        user-select: none;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        bottom: 0px;
        right: 0px;
      }
    }
  }

  .techStackDesc {
    @include text($lightText, $violet, _);
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 5% 2rem 5%;
  }
}
