@import "../../styles/config";
@import "../../styles/mixins";

.main {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-color: $backgroundLight;
  height: 100%;

  .container {
    display: flex;
    flex-direction: column;

    .left {
      display: flex;

      @media (min-width: 800px) {
        width: 40%;
        flex-direction: column;
      }

      .title {
        @include text($violetText, black, $textShadow);
        font-size: 2.25rem;
        padding: 4rem;
        &Secondary {
          padding: 0 5rem;
        }
      }
    }

    .right {
      width: 100%;
      @media (min-width: 800px) {
        width: 60%;
      }
    }

    @media (min-width: 800px) {
      flex-direction: row;
    }
  }
}
