@import "../../styles/config";
@import "../../styles/mixins";

.list {
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.tile {
  background-color: $backgroundLight;
  padding: 1rem;
  border-radius: $roundedMd;
  list-style: none;
  max-width: 700px;
  transition: 0.2s;
  text-align: center;

  // @media (min-width: 650px) {
  //   padding: 1.5rem;
  // }
  // @media (min-width: 800px) {
  //   padding: 2.5rem;
  // }

  .imgWrap {
    position: relative;
    width: 100%;
    padding: 75% 0 0 0;
    transition: 0.2s;
    img {
      border-radius: $roundedMd;
      object-fit: cover;
      object-position: center;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: 0.2s;
  }

  .textWrapper {
    transition: 0.2s;
    h2 {
      @include text($violetText, black, $textShadow);
      font-size: 1.25rem;
      margin: 0.5rem;
      @media (min-width: 600px) {
        font-size: 1.5rem;
      }
      @media (min-width: 800px) {
        font-size: 1.75rem;
      }
    }
    p {
      font-size: 0.9rem;
      @media (min-width: 600px) {
        font-size: 1rem;
      }
      @media (min-width: 800px) {
        font-size: 1.2rem;
      }
    }
    a {
      color: $violetText;

      &:hover {
        text-decoration: underline;
        transform: translateX(10px);
      }
    }
  }

  &:hover {
    overflow: hidden;
    padding: 0;
    .textWrapper {
      padding: 0rem 2rem 1rem;
      // @media (min-width: 650px) {
      //   padding: 0 1.5rem 1.5rem;
      // }
      // @media (min-width: 800px) {
      //   padding: 0 2.5rem 2.5rem;
      // }
    }
    // box-shadow: 0 0 15px 0 rgba($violet, 0.3);
    .imgWrap {
      img {
        border-radius: 0;
      }
    }
    .container {
      gap: 1.5rem;
    }
  }
}
