@import "../../styles/config";
@import "../../styles/mixins";

.main {
  display: flex;
  article {
    height: 100%;
    width: 100%;
    figure {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      h1 {
        @include text($lightText, $violet, $textShadowSmall);
        font-size: 2.25rem;
        padding: 2rem;
        margin-left: -5rem;
      }
      p {
        padding: 3rem 8rem 3rem 8rem;
        max-width: 400px;
      }
    }
  }
  .imgWrapper {
    width: 50%;
    max-width: 1200px;
    height: 60vh;
    position: relative;
    clip-path: polygon(0% 0%, 70% 0, 100% 50%, 70% 100%, 0% 100%);
    img {
      object-position: top;
      object-fit: cover;
    }
  }
}
