@import "../../styles/config.module";
.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 5% 2rem 5%;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: relative;
  transition: 1.5s;
  li {
    list-style: none;
  }
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  opacity: 0;
  transform: translateY(300%);
  &:hover {
    transform: scale(1.3);
    .icon {
      background: $violet;
      box-shadow: 0 0 10px 0 $violet;
    }
    .text {
      color: $lightText;
      text-shadow: $textShadowSmall;
    }
  }

  .icon {
    display: flex;
    color: $lightText;
    font-size: 2.5rem;
    padding: 1rem;
    border-radius: 100%;
    background: #2f2f2f;
    transition: 0.2s;
  }
  .text {
    padding-top: 1rem;
    font-size: large;
    font-weight: 800;
    color: #838383;
    &::after {
      background-color: rebeccapurple;
      height: 10px;
      width: 100px;
      box-shadow: 0 0 10px 10px black;
    }
  }
}

.animationSlideFromBottom {
  transform: translateY(0px);
  opacity: 1;
}
