@import "../../styles/config";
@import "../../styles/mixins";

%icon-shared {
  color: $mediumText;
  padding: 1rem;
  display: flex;
  border-radius: 100%;
  background: $backgroundLight;
  transition:
    color,
    background-color 0.2s;
}

%text-shared {
  font-weight: 800;
  color: $mediumText;
}

%list-shared {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  li {
    list-style: none;
  }
}

.list {
  @extend %list-shared;
  padding: 2rem 5% 2rem 5%;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  &Small {
    @extend %list-shared;
    padding: 1rem 0 1rem 0;
    gap: 0.5rem;

    @media (min-width: 1200px) {
      gap: 1rem;
    }
    @media (min-width: 1300px) {
      gap: 1.5rem;
      justify-content: space-between;
    }

    @media (min-width: 1016px) {
      align-items: center;
      justify-content: center;
    }
  }
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  opacity: 0;
  transform: translateY(300%);
  &:hover {
    transform: scale(1.1);
    .icon {
      background-color: $violet;
      box-shadow: 0 0 10px 0 $violet;
      color: $lightText;

      &Small {
        background-color: $violet;
        color: $lightText;
        box-shadow: 0 0 5px 0 $violet;
      }
    }
    .text {
      @include text($violetText, black, $textShadowSmall);
      &Small {
        color: $lightText;
        @media (min-width: 1016px) {
          text-shadow: $textShadowSmaller;
        }
      }
    }
  }

  .icon {
    @extend %icon-shared;
    font-size: 2.5rem;
    &Small {
      @extend %icon-shared;
      font-size: 1.5rem;
      display: none;
      @media (min-width: 1016px) {
        display: flex;
      }
      @media (min-width: 1400px) {
        font-size: 1.75rem;
      }
    }
  }

  .text {
    font-size: large;
    @extend %text-shared;
    margin-top: 1rem;

    &Small {
      @extend %text-shared;
      border: $mediumText 2px solid;
      border-radius: $roundedMd;
      padding: 0.4rem 1rem 0.4rem 1rem;
      font-size: 0.5rem;
      transition: 0.2s;
      &:hover {
        border: $violet 2px solid;
        @media (min-width: 1016px) {
          border: none;
        }
      }

      @media (min-width: 1016px) {
        border: none;
        border-radius: none;
        padding: none;
        font-size: 0.6rem;
      }
      @media (min-width: 1200px) {
        font-size: 0.7rem;
      }

      @media (min-width: 1400px) {
        font-size: 0.8rem;
      }
    }
  }
}

.animationSlideFromBottom {
  transform: translateY(0px);
  opacity: 1;
}
