@import "../../styles/config.module";

%icon-shared {
  display: flex;
  color: $mediumText;
  padding: 1rem;
  border-radius: 100%;
  background: $backgroundLight;
  transition: 0.2s;
}
%text-shared {
  padding-top: 1rem;
  font-weight: 800;
  color: $mediumText;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 5% 2rem 5%;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: relative;
  transition: 1.5s;
  li {
    list-style: none;
  }
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  opacity: 0;
  transform: translateY(300%);
  &:hover {
    transform: scale(1.3);
    .icon {
      background-color: $violet;
      box-shadow: 0 0 10px 0 $violet;
      color: $lightText;
      &Small {
        background-color: $violet;
        color: $lightText;
        box-shadow: 0 0 5px 0 $violet;
      }
    }
    .text {
      color: $lightText;
      text-shadow: $textShadowSmall;
      &Small {
        color: $lightText;
        text-shadow: $textShadowSmaller;
      }
    }
  }

  .icon {
    @extend %icon-shared;
    font-size: 2.5rem;

    &Small {
      @extend %icon-shared;
      font-size: 1.75rem;
    }
  }

  .text {
    font-size: large;
    @extend %text-shared;
    &Small {
      font-size: 13px;
      @extend %text-shared;
    }
  }
}

.animationSlideFromBottom {
  transform: translateY(0px);
  opacity: 1;
}
